type proc_battery_cmd, fs_type, proc_type;
type proc_cpufreq, fs_type, proc_type;
type proc_chip, fs_type, proc_type;
type proc_cm_mgr, fs_type, proc_type;
type proc_ppm, fs_type, proc_type;
type proc_isp_p2, fs_type, proc_type;
type proc_mtkcooler, fs_type, proc_type;
type proc_thermal, fs_type, proc_type;
type sysfs_boot_mode, fs_type, sysfs_type;
type sysfs_battery_supply, fs_type, sysfs_type;
type sysfs_therm, fs_type, sysfs_type;
type sysfs_usb_supply, fs_type, sysfs_type;
type debugfs_ion, fs_type, debugfs_type;
type debugfs_ion_mm_heap, fs_type, debugfs_type;
