type mtk_hal_wifi, domain;
hal_server_domain(mtk_hal_wifi, hal_wifi)

type mtk_hal_wifi_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(mtk_hal_wifi)
