on post-fs
    mount none /dev/null vendor/lib/hw/lights.mt6785.so bind
    mount none /dev/null vendor/lib/hw/android.hardware.light@2.0-impl-mediatek.so bind
    mount none /dev/null vendor/bin/hw/android.hardware.light@2.0-service-mediatek bind
    mount none /dev/null vendor/lib64/hw/lights.mt6785.so bind
    mount none /dev/null vendor/lib64/hw/android.hardware.light@2.0-impl-mediatek.so bind
    mount none /dev/null vendor/etc/init/android.hardware.light@2.0-service-mediatek.rc bind
    mount none /dev/null vendor/overlay/DevicesAndroidOverlay.apk bind
    mount none /dev/null vendor/overlay/DevicesOverlay.apk bind
    mount none /dev/null vendor/overlay/FrameworksResCommon.apk bind
