on post-fs-data
    # calibration
    mkdir /data/vendor/sensor 0774 system system

    # Sensor
    chmod 0660 /dev/hwmsensor
    chmod 0660 /dev/msensor
    chmod 0660 /dev/gsensor
    chmod 0660 /dev/als_ps
    chmod 0660 /dev/gyroscope
    chmod 0660 /dev/aal_als
    chmod 0660 /dev/humidity
    chmod 0660 /dev/barometer
    chmod 0660 /dev/sar
    chmod 0660 /dev/m_als_misc
    chmod 0660 /dev/m_baro_misc
    chmod 0660 /dev/m_hmdy_misc
    chmod 0660 /dev/m_ps_misc
    chmod 0660 /dev/m_acc_misc
    chmod 0660 /dev/m_mag_misc
    chmod 0660 /dev/m_gyro_misc
    chmod 0660 /dev/m_act_misc
    chmod 0660 /dev/m_pedo_misc
    chmod 0660 /dev/m_situ_misc
    chmod 0660 /dev/m_step_c_misc
    chmod 0660 /dev/m_fusion_misc
    chmod 0660 /dev/m_bio_misc
    chmod 0660 /dev/biometric
    chmod 0660 /dev/sensorlist

    chown system system /dev/hwmsensor
    chown system system /dev/msensor
    chown radio system /dev/gsensor
    chown radio system /dev/als_ps
    chown radio system /dev/gyroscope
    chown system system /dev/aal_als
    chown system system /dev/humidity
    chown system system /dev/barometer
    chown radio system /dev/sar
    chown system system /dev/m_als_misc
    chown system system /dev/m_baro_misc
    chown system system /dev/m_hmdy_misc
    chown system system /dev/m_ps_misc
    chown system system /dev/m_acc_misc
    chown system system /dev/m_mag_misc
    chown system system /dev/m_gyro_misc
    chown system system /dev/m_act_misc
    chown system system /dev/m_pedo_misc
    chown system system /dev/m_situ_misc
    chown system system /dev/m_step_c_misc
    chown system system /dev/m_fusion_misc
    chown system system /dev/m_bio_misc
    chown system system /dev/biometric
    chown system system /dev/sensorlist

    chmod 0660 /sys/class/sensor/m_acc_misc/accenablenodata
    chmod 0660 /sys/class/sensor/m_acc_misc/accactive
    chmod 0660 /sys/class/sensor/m_acc_misc/accdelay
    chmod 0660 /sys/class/sensor/m_acc_misc/accbatch
    chmod 0660 /sys/class/sensor/m_acc_misc/accflush
    chmod 0660 /sys/class/sensor/m_acc_misc/acccali
    chown system system /sys/class/sensor/m_acc_misc/accenablenodata
    chown system system /sys/class/sensor/m_acc_misc/accactive
    chown system system /sys/class/sensor/m_acc_misc/accdelay
    chown system system /sys/class/sensor/m_acc_misc/accbatch
    chown system system /sys/class/sensor/m_acc_misc/accflush
    chown system system /sys/class/sensor/m_acc_misc/acccali

    chmod 0660 /sys/class/sensor/m_mag_misc/magactive
    chmod 0660 /sys/class/sensor/m_mag_misc/magdelay
    chmod 0660 /sys/class/sensor/m_mag_misc/magbatch
    chmod 0660 /sys/class/sensor/m_mag_misc/magflush
    chmod 0660 /sys/class/sensor/m_mag_misc/magcali
    chmod 0660 /sys/class/sensor/m_mag_misc/maglibinfo
    chown system system /sys/class/sensor/m_mag_misc/magactive
    chown system system /sys/class/sensor/m_mag_misc/magdelay
    chown system system /sys/class/sensor/m_mag_misc/magbatch
    chown system system /sys/class/sensor/m_mag_misc/magflush
    chown system system /sys/class/sensor/m_mag_misc/magcali
    chown system system /sys/class/sensor/m_mag_misc/maglibinfo

    chmod 0660 /sys/class/sensor/m_gyro_misc/gyroenablenodata
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyroactive
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyrodelay
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyrobatch
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyroflush
    chmod 0660 /sys/class/sensor/m_gyro_misc/gyrocali
    chown system system /sys/class/sensor/m_gyro_misc/gyroenablenodata
    chown system system /sys/class/sensor/m_gyro_misc/gyroactive
    chown system system /sys/class/sensor/m_gyro_misc/gyrodelay
    chown system system /sys/class/sensor/m_gyro_misc/gyrobatch
    chown system system /sys/class/sensor/m_gyro_misc/gyroflush
    chown system system /sys/class/sensor/m_gyro_misc/gyrocali

    chmod 0660 /sys/class/sensor/m_als_misc/alsactive
    chmod 0660 /sys/class/sensor/m_als_misc/alsdelay
    chmod 0660 /sys/class/sensor/m_als_misc/alsbatch
    chmod 0660 /sys/class/sensor/m_als_misc/alsflush
    chmod 0660 /sys/class/sensor/m_als_misc/alscali
    chmod 0660 /sys/class/sensor/m_ps_misc/psactive
    chmod 0660 /sys/class/sensor/m_ps_misc/psdelay
    chmod 0660 /sys/class/sensor/m_ps_misc/psbatch
    chmod 0660 /sys/class/sensor/m_ps_misc/psflush
    chmod 0660 /sys/class/sensor/m_ps_misc/pscali
    chown system system /sys/class/sensor/m_als_misc/alsactive
    chown system system /sys/class/sensor/m_als_misc/alsdelay
    chown system system /sys/class/sensor/m_als_misc/alsbatch
    chown system system /sys/class/sensor/m_als_misc/alsflush
    chown system system /sys/class/sensor/m_als_misc/alscali
    chown system system /sys/class/sensor/m_ps_misc/psactive
    chown system system /sys/class/sensor/m_ps_misc/psdelay
    chown system system /sys/class/sensor/m_ps_misc/psbatch
    chown system system /sys/class/sensor/m_ps_misc/psflush
    chown system system /sys/class/sensor/m_ps_misc/pscali

    chmod 0660 /sys/class/sensor/m_baro_misc/baroenablenodata
    chmod 0660 /sys/class/sensor/m_baro_misc/baroactive
    chmod 0660 /sys/class/sensor/m_baro_misc/barodelay
    chmod 0660 /sys/class/sensor/m_baro_misc/barobatch
    chmod 0660 /sys/class/sensor/m_baro_misc/baroflush
    chmod 0660 /sys/class/sensor/m_baro_misc/barocali
    chown system system /sys/class/sensor/m_baro_misc/baroenablenodata
    chown system system /sys/class/sensor/m_baro_misc/baroactive
    chown system system /sys/class/sensor/m_baro_misc/barodelay
    chown system system /sys/class/sensor/m_baro_misc/barobatch
    chown system system /sys/class/sensor/m_baro_misc/baroflush
    chown system system /sys/class/sensor/m_baro_misc/barocali

    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdyenablenodata
    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdyactive
    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdydelay
    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdybatch
    chmod 0660 /sys/class/sensor/m_hmdy_misc/hmdyflush

    chown system system /sys/class/sensor/m_hmdy_misc/hmdyenablenodata
    chown system system /sys/class/sensor/m_hmdy_misc/hmdyactive
    chown system system /sys/class/sensor/m_hmdy_misc/hmdydelay
    chown system system /sys/class/sensor/m_hmdy_misc/hmdybatch
    chown system system /sys/class/sensor/m_hmdy_misc/hmdyflush

    chmod 0660 /sys/class/sensor/m_pedo_misc/pedoactive
    chmod 0660 /sys/class/sensor/m_pedo_misc/pedodelay
    chmod 0660 /sys/class/sensor/m_pedo_misc/pedobatch
    chmod 0660 /sys/class/sensor/m_pedo_misc/pedoflush
    chown system system /sys/class/sensor/m_pedo_misc/pedoactive
    chown system system /sys/class/sensor/m_pedo_misc/pedodelay
    chown system system /sys/class/sensor/m_pedo_misc/pedobatch
    chown system system /sys/class/sensor/m_pedo_misc/pedoflush

    chmod 0660 /sys/class/sensor/m_situ_misc/situactive
    chmod 0660 /sys/class/sensor/m_situ_misc/situdelay
    chmod 0660 /sys/class/sensor/m_situ_misc/situbatch
    chmod 0660 /sys/class/sensor/m_situ_misc/situflush
    chmod 0660 /sys/class/sensor/m_situ_misc/sarcali
    chown system system /sys/class/sensor/m_situ_misc/situactive
    chown system system /sys/class/sensor/m_situ_misc/situdelay
    chown system system /sys/class/sensor/m_situ_misc/situbatch
    chown system system /sys/class/sensor/m_situ_misc/situflush
    chown system system /sys/class/sensor/m_situ_misc/sarcali

    chmod 0660 /sys/class/sensor/m_act_misc/actactive
    chmod 0660 /sys/class/sensor/m_act_misc/actdelay
    chmod 0660 /sys/class/sensor/m_act_misc/actbatch
    chmod 0660 /sys/class/sensor/m_act_misc/actflush
    chown system system /sys/class/sensor/m_act_misc/actactive
    chown system system /sys/class/sensor/m_act_misc/actdelay
    chown system system /sys/class/sensor/m_act_misc/actbatch
    chown system system /sys/class/sensor/m_act_misc/actflush

    chmod 0660 /sys/class/sensor/m_step_c_misc/step_cactive
    chmod 0660 /sys/class/sensor/m_step_c_misc/step_cdelay
    chmod 0660 /sys/class/sensor/m_step_c_misc/step_cbatch
    chmod 0660 /sys/class/sensor/m_step_c_misc/step_cflush
    chown system system /sys/class/sensor/m_step_c_misc/step_cactive
    chown system system /sys/class/sensor/m_step_c_misc/step_cdelay
    chown system system /sys/class/sensor/m_step_c_misc/step_cbatch
    chown system system /sys/class/sensor/m_step_c_misc/step_cflush

    chmod 0660 /sys/class/sensor/m_fusion_misc/fusionactive
    chmod 0660 /sys/class/sensor/m_fusion_misc/fusiondelay
    chmod 0660 /sys/class/sensor/m_fusion_misc/fusionbatch
    chmod 0660 /sys/class/sensor/m_fusion_misc/fusionflush
    chown system system /sys/class/sensor/m_fusion_misc/fusionactive
    chown system system /sys/class/sensor/m_fusion_misc/fusiondelay
    chown system system /sys/class/sensor/m_fusion_misc/fusionbatch
    chown system system /sys/class/sensor/m_fusion_misc/fusionflush

    chmod 0660 /sys/class/sensor/m_bio_misc/bioactive
    chmod 0660 /sys/class/sensor/m_bio_misc/biodelay
    chmod 0660 /sys/class/sensor/m_bio_misc/biobatch
    chmod 0660 /sys/class/sensor/m_bio_misc/bioflush
    chown system system /sys/class/sensor/m_bio_misc/bioactive
    chown system system /sys/class/sensor/m_bio_misc/biodelay
    chown system system /sys/class/sensor/m_bio_misc/biobatch
    chown system system /sys/class/sensor/m_bio_misc/bioflush
