on early-init
    write /sys/class/net/ccmni0/queues/rx-0/rps_cpus "0f"
    write /sys/class/net/ccmni1/queues/rx-0/rps_cpus "0f"
    write /sys/class/net/ccmni2/queues/rx-0/rps_cpus "0f"

on post-fs-data
    write /proc/bootprof "post-fs-data: on modem start"

    # Encrypt phone function
    setprop vold.post_fs_data_done 1
