import /vendor/etc/init/init.batteryd.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on post-fs-data
    #thermal
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system
    chown system system /sys/class/thermal/thermal_message/sconfig

    # add for power data upload
    chown system system /sys/power/sum_wakeup_time
    chmod 0660 /sys/power/sum_wakeup_time
    chown system system /sys/power/last_wake_time
    chmod 0660 /sys/power/last_wake_time
    chown system system /sys/power/wake_times
    chmod 0660 /sys/power/wake_times
    chown system system /sys/power/screen_off_flag
    chmod 0660 /sys/power/screen_off_flag
    #Audio-add:Create directory used by audio cit
    mkdir /data/vendor/cit 0770 system system

    #nfc
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/secure_element 0770 nfc nfc
    chmod 0660 /dev/nq-nci
    chown nfc nfc /dev/nq-nci
    chmod 0660 /dev/p73
    chown nfc nfc /dev/p73

    #Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    #SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm


    #Audio TFA 98xx
    chown system system /dev/tfa_reg
    chown system system /dev/tfa_rw
    chown system system /dev/tfa_rpc
    chown system system /dev/tfa_control
    chown system system /dev/tfa_profile
    chmod 0660 /dev/tfa_reg
    chmod 0660 /dev/tfa_rw
    chmod 0660 /dev/tfa_rpc
    chmod 0660 /dev/tfa_control
    chmod 0660 /dev/tfa_profile

on init
    #TP Self Test
    chown system system /proc/tp_selftest

    #Torch_light
    chown system system /sys/devices/platform/flashlights_mt6360/leds/torch-light0/brightness
    chown system system /sys/devices/platform/flashlights_mt6360/leds/torch-light1/brightness

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

service panel-info-sh /vendor/bin/init.panel_info.sh
    class core
    user root
    oneshot

on property:init.svc.surfaceflinger=stopped
    stop displayfeature

on property:init.svc.surfaceflinger=running
    start displayfeature

on property:init.svc.surfaceflinger=restarting
    stop displayfeature

# spkcal cit
on property:vendor.audio.cit.spkcal.copy=true
    copy /data/vendor/cit/tfa9874_chk.txt /mnt/vendor/persist/audio/tfa9874_chk.txt
    chmod 666 /mnt/vendor/persist/audio/tfa9874_chk.txt
