#INTERNAL_START
on post-fs-data
#
# Connectivity related modules and character device nodes (Begin)
#

#/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

#GPS
    mkdir /data/vendor/gps 0770 gps system

# GPS EMI
    chmod 666 /dev/gps_emi

#
# Connectivity related device nodes & configuration (end)
#


on boot

#
# Connectivity related services (Begin)
#
# WMT
service wmt_loader /vendor/bin/wmt_loader
    user system
    group system
    oneshot

service wmt_launcher /vendor/bin/wmt_launcher -p /vendor/firmware/
    user system
    group system

# GPS
#service mnld /vendor/bin/mnld
#    class main
#    user gps
#    group gps inet misc sdcard_rw sdcard_r media_rw system radio
#    socket mnld stream 660 gps system

#service BGW /vendor/bin/BGW
#    user system
#    group gps system radio
#    class main

service wlan_assistant /vendor/bin/wlan_assistant
    class main
    user wifi
    group system gps inet

#
# Connectivity related services (End)
#

#
# Connectivity related kernel objects (Begin)
#

# load wmt_drv
on boot
    insmod /vendor/lib/modules/wmt_drv.ko

# load bt_drv
on property:vendor.connsys.driver.ready=yes
    insmod /vendor/lib/modules/bt_drv.ko

# load wifi chrdev driver and wlan driver after wmt_loader finish
on property:vendor.connsys.driver.ready=yes
    insmod /vendor/lib/modules/wmt_chrdev_wifi.ko
    insmod /vendor/lib/modules/wlan_drv_${ro.vendor.wlan.gen}.ko
    start wlan_assistant

# load fmradio_drv
on property:vendor.connsys.driver.ready=yes
    insmod /vendor/lib/modules/fmradio_drv.ko

# load gps_drv
on property:vendor.connsys.driver.ready=yes
  insmod /vendor/lib/modules/gps_drv.ko

#
# Connectivity related kernel objects (End)
#

#INTERNAL_END
