on init
    chown system system /sys/kernel/thunderquake_engine/level
    chown 644 /sys/kernel/thunderquake_engine/level

service vendor.vibrator-mtk /vendor/bin/hw/android.hardware.vibrator-service.mediatek
    class hal
    user system
    group system
